@media (max-width: 600px) {
  .header {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: column;
  }

  .section1 {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .article1 .article-content h2 {
    font-size: 24px;
    line-height: inherit;
  }
  .col-md-4,
  .col-md-3 {
    flex: 100%;
    max-width: 100%;
  }
}
